<h1>Sub-App: 事故受付</h1>
<div class="top-container" [formGroup]="fnolForm">

  <mat-card class="mt-20">
    <h2 class="card-title">Name</h2>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <div class="container">
          <div class="item">
            <label for="" class="label">shin</label>
            <mat-form-field appearance="fill" class="ml-15">
              <mat-label></mat-label>
              <input matInput formControlName="locationOfAccident" />
            </mat-form-field>
          </div>
          <div class="item">
            <label for="" class="label">事故日付</label>
            <mat-form-field appearance="fill" class="ml-15">
              <mat-label></mat-label>
              <input matInput formControlName="dateOfAccident" />
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="container">
          <div class="item">
            <label for="" class="label">入院・通院区分</label>
            <mat-form-field appearance="fill" class="ml-15">
              <mat-label></mat-label>
              <mat-select formControlName="categoryOfHospital">
                <mat-option value="1">入院＋通院</mat-option>
                <mat-option value="2">通院のみ</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="item" style="margin-bottom: 101px"></div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
<div class="btn-area">
  <button (click)="submitFnolData()" mat-button class="blue-btn btn-text">
    事故報告をする
  </button>
</div>
